/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* Body */
body{
    font-family: 'Roboto', sans-serif;
}

/* Backround */
.border-danger{
    border-color: #EF6262 !important;
}

/* Text */
.text-danger{
    color: #EF6262 !important;
}

/* Button */
.btn-danger{
    background-color: #EF6262 !important;
    border: none !important;
}

.btn-danger:hover{
    background-color: #fa4a4afa !important;
    border: none !important;

}

/* Navbar */
.navbar{
    background-color: #2f2e41;
}

/* Section */
section#hero, section#about {
    margin-bottom: 300px;
    padding-top: 80px;
}

section#course{
    margin-bottom: 300px;
    padding-top: 100px;
}

/* Hero */
section#hero{
    margin-top: 20px;
}

.hero-title{
    font-size: 50px;
}


@media only screen and (max-width: 768px) {
    .hero-title{
        font-size: 40px;
    }
}

/* pagination */
.page-link:focus,.page-link:active {
    outline: none !important;
    box-shadow: none;
 }



.page-link{
    color: #EF6262;
}

.page-link:hover{
    color: #fa4a4afa;
}

/* Accordion */
.accordion-button:focus{
    border: none;
    box-shadow: none !important;
}
